.icon-grfz-search {
	
	 background-image: url(../images/grfz/search.png) !important; 
}
.icon-grfz-search-hover {
	
	  background-image: url(../images/grfz/search.png) !important; 
}

.icon-grfz-GWBtn {
	
	 background-image: url(../images/grfz/GWBtn.png) !important; 
}
.icon-grfz-JBXXBtn {
	
	 background-image: url(../images/grfz/JBXXBtn.png) !important; 
}
.icon-grfz-JBXXBtn {
	
	 background-image: url(../images/grfz/JBXXBtn.png) !important; 
}
.icon-grfz-JCBtn {
	
	 background-image: url(../images/grfz/JCBtn.png) !important; 
}
.icon-grfz-JTBtn {
	
	 background-image: url(../images/grfz/JTBtn.png) !important; 
}
.icon-grfz-JXBtn {
	
	 background-image: url(../images/grfz/JXBtn.png) !important; 
}
.icon-grfz-KHBtn {
	
	 background-image: url(../images/grfz/KHBtn.png) !important; 
}
.icon-grfz-MZBtn {
	
	 background-image: url(../images/grfz/MZBtn.png) !important; 
}
.icon-grfz-PXBtn {
	
	 background-image: url(../images/grfz/PXBtn.png) !important; 
}
.icon-grfz-XLJKBtn {
	
	 background-image: url(../images/grfz/XLJKBtn.png) !important; 
}
.icon-grfz-TSBtn {
	
	 background-image: url(../images/grfz/TSBtn.png) !important; 
}
.icon-grfz-XQBtn {
	
	 background-image: url(../images/grfz/XQBtn.png) !important; 
}
.icon-grfz-leftBtn {
	
	 background-image: url(../images/grfz/leftBtn.png) !important; 
}
.icon-grfz-rightBtn {
	
	 background-image: url(../images/grfz/rightBtn.png) !important; 
}
.icon-grfz-AJZXBtn {
	
	 background-image: url(../images/grfz/AJZXBtn.png) !important; 
}
.icon-grfz-QTJKFBtn {
	
	 background-image: url(../images/grfz/QTJKFBtn.png) !important; 
}
.icon-grfz-ZFZGBtn {
	
	 background-image: url(../images/grfz/ZFZGBtn.png) !important; 
}
.icon-grfz-KSDFBtn {
	
	 background-image: url(../images/grfz/KSDFBtn.png) !important; 
}
.icon-grfz-Add-icon {
	
	 background-image: url(../images/grfz/Add-icon.png) !important; 
}
.icon-grfz-Del-icon {
	
	 background-image: url(../images/grfz/Del-icon.png) !important; 
}
.icon-grfz-Import-icon {
	
	 background-image: url(../images/grfz/Import-icon.png) !important; 
}
.icon-grfz-Export-icon {
	
	 background-image: url(../images/grfz/Export-icon.png) !important; 
}
.icon-grfz-Look-icon {
	
	 background-image: url(../images/grfz/Look-icon.png) !important; 
}
.icon-grfz-Edit-icon {
	
	 background-image: url(../images/grfz/Edit-icon.png) !important; 
}
.icon-grfz-Del {
	
	 background-image: url(../images/grfz/Del.png) !important; 
}

.icon-grfz-DCHKHBtn {
	
	 background-image: url(../images/grfz/DCHKHBtn.png) !important; 
}

.icon-grfz-GWYBtn {
	
	 background-image: url(../images/grfz/GWYBtn.png) !important; 
}
.icon-grfz-JXKHBtn {
	
	 background-image: url(../images/grfz/JXKHBtn.png) !important; 
}

.icon-grfz-NKHBtn {
	
	 background-image: url(../images/grfz/NKHBtn.png) !important; 
}

.icon-grfz-YKHBtn {
	
	 background-image: url(../images/grfz/YKHBtn.png) !important; 
}
.icon-grfz-AJJXGLBtn {
	
	 background-image: url(../images/grfz/AJMJBtn.png) !important; 
}
.icon-grfz-FAJJXGLBtn {
	
	 background-image: url(../images/grfz/FAJMJBtn.png) !important; 
}

.icon-grfz-SLDJXGLBtn {	
	 background-image: url(../images/grfz/AJSLDBtn.png) !important; 
}
.compay_right{

font-family: MicrosoftYaHei;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0.69px;
  
}
.grfz-fgx{


color: #767676 ;

  
}

.x-grfz-hearch{
   
    background-color: #FAFAFA;
    border: 1px solid #E6E6E7;
    -moz-border-radius: 2px;      /* Gecko browsers */
    -webkit-border-radius: 2px;   /* Webkit browsers */
    border-radius:2px;            /* W3C syntax */
   
}


.grfz-khgl-gwybutton {
	
	 background-image: url(../images/grfz/khgl/GWYBtn.png); 
}

.grfz-khgl-jxkhbutton {
	
	 background-image: url(../images/grfz/khgl/JXKHBtn.png); 
}

.grfz-khgl-qjejkhbutton {
	
	 background-image: url(../images/grfz/khgl/QJEJBtn.png); 
}

.grfz-khgl-qjtxkhbutton {
	
	 background-image: url(../images/grfz/khgl/QJTXBtn.png); 
}


.grfz-tjfx-container{
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
}

.grfz-tjfx-titlecontainer{
	background: #F3F6FD;
}

.grfz-tjfx-TITLE-text{
	font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #485465;
    letter-spacing: -0.09px;
}

.grfz-sy-denglu {
	 background-image: url(../images/grfz/denglu1.png) ; 
}