
/* 设备样式 */
.icon-qiang-disconnect { background-image: url(../images/playback/qiang_disconnect.png); background-repeat:no-repeat;}
.icon-qiang-normal { background-image: url(../images/playback/qiang_normal.png); background-repeat:no-repeat; }

/* 回放按钮css */
.x-playback-btn-play { background: url(../playback/play.png) no-repeat 0px 0px; }



/* line 9, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker { width: 177px; background: url(../images/playback/datepickerbackground.png) no-repeat 0px 0px; }

/* line 19, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-header { padding: 8px 8px; height: 39px; text-align: center; position: relative; zoom: 1; }

/* line 32, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-arrow { width: 15px; height: 20px; top: 10px; cursor: pointer; background-color: #6f6f6f; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; position: absolute; }

/* line 50, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
a.x-playbackdatepicker-arrow:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

/* line 55, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-next { right: 31px; background-image: url(../images/playback/right-btn.png); }

/* line 60, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-prev { left: 32px; background-image: url(../images/playback/left-btn.png); }

/* line 76, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-month .x-btn, .x-playbackdatepicker-month .x-btn .x-btn-tc, .x-playbackdatepicker-month .x-btn .x-btn-tl, .x-playbackdatepicker-month .x-btn .x-btn-tr, .x-playbackdatepicker-month .x-btn .x-btn-mc, .x-playbackdatepicker-month .x-btn .x-btn-ml, .x-playbackdatepicker-month .x-btn .x-btn-mr, .x-playbackdatepicker-month .x-btn .x-btn-bc, .x-playbackdatepicker-month .x-btn .x-btn-bl, .x-playbackdatepicker-month .x-btn .x-btn-br { background: transparent; border-width: 0 !important; }


/* line 83, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-month .x-playbackdatepicker-monthbtn-inner { color: white; font: normal 18px 宋体, Arial, Helvetica, sans-serif; }
/* line 88, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-month .x-btn-split-right { background-image: url(../images/playback/s-arrow-light.gif); padding-right: 12px; }



/* line 94, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-column-header { width: 42px; color: #3e3e3e; font: normal 10px tahoma, arial, verdana, sans-serif; text-align: center; height: 23px; }

/* line 113, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-column-header-inner { line-height: 19px; }

/* line 118, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-cell { text-align: center; height: 30px;width :50px }

/* line 128, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-date { padding: 0 0px 0 0; font: normal 18px 宋体, Arial, Helvetica, sans-serif; font-weight: 900; color: #757575; cursor: pointer; line-height: 20px; filter: Dropshadow(offx=1,offy=1,color=#ffffff); text-shadow: 0 1px 0 #ffffff; }

/* line 138, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
a.x-playbackdatepicker-date:hover { color: #a58585; background-color: transparent; }

/* line 152, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-today { background: url(../images/playback/datepicker_today.png) no-repeat 0px 0px; }

.x-playbackdatepicker-today .x-playbackdatepicker-date { color: #ffffff; }

/* line 143, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-selected { background: url(../images/playback/datepicker_sel.png) no-repeat 0px 0px; }
/* line 146, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-selected .x-playbackdatepicker-date { font-weight: 900; }




/* line 159, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-prevday .x-playbackdatepicker-date, .x-playbackdatepicker-nextday .x-playbackdatepicker-date { color: #cf680d; font: normal 18px 宋体, Arial, Helvetica, sans-serif; font-weight: 900; filter: Dropshadow(offx=1,offy=1,color=#ffffff); text-shadow: 0 1px 0 #ffffff; }

/* line 166, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-disabled a.x-playbackdatepicker-date { background-color: #eeeeee; cursor: default; color: #bbbbbb; }

/* line 174, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-disabled a.x-playbackdatepicker-date:hover { background-color: #eeeeee; }

/* line 179, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-footer, .x-monthpicker-buttons { padding: 4px 0; border-width: 1px 0 0; border-style: solid; border-color: #d0d0d0; background-image: none; background-color: #e9e9e9; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(49%, #d6d6d6), color-stop(51%, #d0d0d0), color-stop(100%, #d2d2d2)); background-image: -webkit-linear-gradient(top, #dfdfdf, #d6d6d6 49%, #d0d0d0 51%, #d2d2d2); background-image: -moz-linear-gradient(top, #dfdfdf, #d6d6d6 49%, #d0d0d0 51%, #d2d2d2); background-image: -o-linear-gradient(top, #dfdfdf, #d6d6d6 49%, #d0d0d0 51%, #d2d2d2); background-image: linear-gradient(top, #dfdfdf, #d6d6d6 49%, #d0d0d0 51%, #d2d2d2); text-align: center; }
/* line 195, ../../../ext-theme-neutral/sass/src/picker/Date.scss */
.x-playbackdatepicker-footer .x-btn, .x-monthpicker-buttons .x-btn { margin: 0 2px 0 2px; }




/*播放音量滑动条*/
.x-soundslider-slider { background: url(../images/playback/soundsliderback.png) no-repeat 0px 0px; width: 56px; height: 20px; }

.x-soundslider-slider-end { padding-right: 7px; }

.x-soundslider-slider-inner { position: relative; height: 19px; }

.x-soundslider-thumb { position: absolute; background: url(../images/playback/speedthumb.gif) no-repeat 0px 0px; width: 13px; height: 20px; margin-left: -6px; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.x-soundslider-thumb-over { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
/*
.x-soundslider-thumb-over {
  background-position: -15px -15px;
}*/



