.x-real-split-1 { top: 0px; left: 0px; width: 45px; height: 39px; background-image: url(./left.png); background-position: 0px 0px; }
.x-real-split-1-hover { background-position: -180px 0px; }
.x-real-split-1-checked { background-position: -90px 0px; }
.x-real-split-1-checkedhover { background-position: -270px 0px; }
.x-real-split-4 { top: 0px; left: 45px; width: 45px; height: 39px; background-image: url(./left.png); background-position: -45px 0px; }
.x-real-split-4-hover { background-position: -225px 0px; }
.x-real-split-4-checked { background-position: -135px 0px; }
.x-real-split-4-checkedhover { background-position: -315px 0px; }
.x-real-split-6 { top: 39px; left: 0px; width: 45px; height: 39px; background-image: url(./left.png); background-position: 0px -39px; }
.x-real-split-6-hover { background-position: -180px -39px; }
.x-real-split-6-checked { background-position: -90px -39px; }
.x-real-split-6-checkedhover { background-position: -270px -39px; }
.x-real-split-9 { top: 39px; left: 45px; width: 45px; height: 39px; background-image: url(./left.png); background-position: -45px -39px; }
.x-real-split-9-hover { background-position: -225px -39px; }
.x-real-split-9-checked { background-position: -135px -39px; }
.x-real-split-9-checkedhover { background-position: -315px -39px; }
.x-real-split-16 { top: 78px; left: 0px; width: 45px; height: 39px; background-image: url(./left.png); background-position: 0px -78px; }
.x-real-split-16-hover { background-position: -180px -78px; }
.x-real-split-16-checked { background-position: -90px -78px; }
.x-real-split-16-checkedhover { background-position: -270px -78px; }
.x-real-split-empty { top: 78px; left: 45px; width: 45px; height: 39px; background-image: url(./left.png); background-position: -45px -78px; }
.x-real-split-full { top: 117px; left: 0px; width: 45px; height: 39px; background-image: url(./left.png); background-position: 0px -117px; }
.x-real-split-full-hover { background-position: -180px -117px; }
.x-real-split-return { top: 117px; left: 45px; width: 45px; height: 39px; background-image: url(./left.png); background-position: -45px -117px; }
.x-real-split-return-hover { background-position: -135px -117px; }
.x-real-tab-video { width: 148px; height: 38px; background-image: url(./tab.png); background-position: 0px 0px; color: White; filter: Dropshadow(offx=1,offy=1,color=#BABABA); text-shadow: 0 1px 0 #232323; font: normal 14px/16px ו, Arial, Helvetica, sans-serif; line-height: 38px; vertical-align: middle; padding-left: 60px; }
.x-real-tab-video-hover { background-position: 0px -38px; }
.x-real-tab-video-checked { background-position: 0px 0px; }
.x-real-tab-switch { width: 147px; height: 38px; background-image: url(./tab.png); background-position: -148px 0px; color: White; filter: Dropshadow(offx=1,offy=1,color=#BABABA); text-shadow: 0 1px 0 #232323; font: normal 14px/16px ו, Arial, Helvetica, sans-serif; line-height: 38px; vertical-align: middle; padding-left: 60px; }
.x-real-tab-switch-hover { background-position: -148px -38px; }
.x-real-tab-switch-checked { background-position: -148px 0px; }
.x-ptz-speed-sub { left: 173px; top: 19px; width: 14px; height: 14px; }
.x-ptz-speed-sub-hover { background-image: url(./ptz/cloudbtns_01_01_hover.gif); }
.x-ptz-speed-add { left: 268px; top: 19px; width: 14px; height: 14px; }
.x-ptz-speed-add-hover { background-image: url(./ptz/cloudbtns_01_02_hover.gif); }
.x-ptz-zoom-sub { left: 173px; top: 49px; width: 51px; height: 16px; }
.x-ptz-zoom-sub-hover { background-image: url(./ptz/cloudbtns_01_04_hover.gif); }
.x-ptz-zoom-add { left: 233px; top: 49px; width: 51px; height: 16px; }
.x-ptz-zoom-add-hover { background-image: url(./ptz/cloudbtns_01_05_hover.gif); }
.x-ptz-focus-sub { left: 173px; top: 78px; width: 51px; height: 16px; }
.x-ptz-focus-sub-hover { background-image: url(./ptz/cloudbtns_01_04_hover.gif); }
.x-ptz-focus-add { left: 233px; top: 78px; width: 51px; height: 16px; }
.x-ptz-focus-add-hover { background-image: url(./ptz/cloudbtns_01_05_hover.gif); }
.x-ptz-iris-sub { left: 173px; top: 108px; width: 51px; height: 16px; }
.x-ptz-iris-sub-hover { background-image: url(./ptz/cloudbtns_01_04_hover.gif); }
.x-ptz-iris-add { left: 233px; top: 108px; width: 51px; height: 16px; }
.x-ptz-iris-add-hover { background-image: url(./ptz/cloudbtns_01_05_hover.gif); }
.x-ptz-light { left: 8px; top: 146px; width: 85px; height: 21px; }
.x-ptz-light-hover { background-image: url(./ptz/cloudbtns_02_01_hover.png); }
.x-ptz-rainbrush { left: 106px; top: 146px; width: 85px; height: 21px; }
.x-ptz-rainbrush-hover { background-image: url(./ptz/cloudbtns_02_02_hover.png); }
.x-ptz-autofocus { left: 203px; top: 146px; width: 85px; height: 21px; }
.x-ptz-autofocus-hover { background-image: url(./ptz/cloudbtns_02_03_hover.png); }
.x-ptz-tonear { left: 8px; top: 181px; width: 85px; height: 21px; }
.x-ptz-tonear-hover { background-image: url(./ptz/cloudbtns_02_04_hover.png); }
.x-ptz-tofar { left: 106px; top: 181px; width: 85px; height: 21px; }
.x-ptz-tofar-hover { background-image: url(./ptz/cloudbtns_02_05_hover.png); }
.x-ptz-advance { left: 203px; top: 181px; width: 85px; height: 21px; }
.x-ptz-advance-hover { background-image: url(./ptz/cloudbtns_02_06_hover.png); }
.x-ptz-preset { left: 267px; top: 219px; width: 21px; height: 62px; }
.x-ptz-preset-hover { background-image: url(./ptz/cloudbtns_03_01_hover.png); }
.x-ptz-scan { left: 267px; top: 281px; width: 21px; height: 62px; }
.x-ptz-scan-hover { background-image: url(./ptz/cloudbtns_03_02_hover.png); }
.x-ptz-IO { left: 267px; top: 343px; width: 21px; height: 63px; }
.x-ptz-IO-hover { background-image: url(./ptz/cloudbtns_03_03_hover.png); }
.x-ptz-speed-slider { position: absolute; left: 189px; top: 20px; width: 82px; height: 12px; background-image: url(./ptz/ptz.png); background-position: -189px -20px; }
.x-ptz-speed-slider-end { padding-right: 12px; }
.x-ptz-speed-slider-inner { position: relative; height: 12px; }
.x-ptz-speed-thumb { position: absolute; background: url(./ptz/cloudbtns_01_03.gif) no-repeat 0px 0px; width: 12px; height: 12px; margin-left: -6px; cursor: pointer; }
.x-ptz-speed-thumb-over { background: url(.//ptz/cloudbtns_01_03.gif) no-repeat 0px 0px; }
.x-ptz-left { left: 14px; top: 55px; width: 30px; height: 27px; }
.x-ptz-left-hover { background-image: url(./ptz/ptz_hover.png); background-position: -6px -48px; }
.x-ptz-right { left: 96px; top: 55px; width: 30px; height: 27px; }
.x-ptz-right-hover { background-image: url(./ptz/ptz_hover.png); background-position: -88px -48px; }
.x-ptz-up { left: 55px; top: 12px; width: 30px; height: 27px; }
.x-ptz-up-hover { background-image: url(./ptz/ptz_hover.png); background-position: -47px -5px; }
.x-ptz-down { left: 55px; top: 98px; width: 30px; height: 27px; }
.x-ptz-down-hover { background-image: url(./ptz/ptz_hover.png); background-position: -47px -91px; }
.x-ptz-leftup { left: 24px; top: 26px; width: 30px; height: 27px; }
.x-ptz-leftup-hover { background-image: url(./ptz/ptz_hover.png); background-position: -16px -19px; }
.x-ptz-leftdown { left: 24px; top: 83px; width: 30px; height: 27px; }
.x-ptz-leftdown-hover { background-image: url(./ptz/ptz_hover.png); background-position: -16px -76px; }
.x-ptz-rightup { left: 86px; top: 26px; width: 30px; height: 27px; }
.x-ptz-rightup-hover { background-image: url(./ptz/ptz_hover.png); background-position: -78px -19px; }
.x-ptz-rightdown { left: 86px; top: 84px; width: 30px; height: 27px; }
.x-ptz-rightdown-hover { background-image: url(./ptz/ptz_hover.png); background-position: -78px -77px; }
.x-ptz-preset0 { left: 66px; top: 161px; width: 53px; height: 34px; }
.x-ptz-preset0-hover { background-image: url(./ptz/cloudbtns_03_08_0.png); }
.x-ptz-preset1 { left: 10px; top: 53px; width: 53px; height: 33px; }
.x-ptz-preset1-hover { background-image: url(./ptz/cloudbtns_03_08_1.png); }
.x-ptz-preset2 { left: 66px; top: 53px; width: 53px; height: 33px; }
.x-ptz-preset2-hover { background-image: url(./ptz/cloudbtns_03_08_2.png); }
.x-ptz-preset3 { left: 122px; top: 53px; width: 53px; height: 33px; }
.x-ptz-preset3-hover { background-image: url(./ptz/cloudbtns_03_08_3.png); }
.x-ptz-preset4 { left: 10px; top: 89px; width: 53px; height: 33px; }
.x-ptz-preset4-hover { background-image: url(./ptz/cloudbtns_03_08_4.png); }
.x-ptz-preset5 { left: 66px; top: 89px; width: 53px; height: 33px; }
.x-ptz-preset5-hover { background-image: url(./ptz/cloudbtns_03_08_5.png); }
.x-ptz-preset6 { left: 122px; top: 89px; width: 53px; height: 33px; }
.x-ptz-preset6-hover { background-image: url(./ptz/cloudbtns_03_08_6.png); }
.x-ptz-preset7 { left: 10px; top: 125px; width: 53px; height: 33px; }
.x-ptz-preset7-hover { background-image: url(./ptz/cloudbtns_03_08_7.png); }
.x-ptz-preset8 { left: 66px; top: 125px; width: 53px; height: 33px; }
.x-ptz-preset8-hover { background-image: url(./ptz/cloudbtns_03_08_8.png); }
.x-ptz-preset9 { left: 122px; top: 125px; width: 53px; height: 33px; }
.x-ptz-preset9-hover { background-image: url(./ptz/cloudbtns_03_08_9.png); }
.x-ptz-preset11 { left: 10px; top: 161px; width: 53px; height: 34px; }
.x-ptz-preset11-hover { background-image: url(./ptz/cloudbtns_03_08_star.png); }
.x-ptz-preset12 { left: 122px; top: 161px; width: 53px; height: 34px; }
.x-ptz-preset12-hover { background-image: url(./ptz/cloudbtns_03_08_j.png); }
.x-ptz-preset-goto { left: 181px; top: 57px; width: 81px; height: 37px; }
.x-ptz-preset-goto-hover { background-image: url(./ptz/cloudbtns_03_05_hover.png); }
.x-ptz-preset-clear { left: 181px; top: 105px; width: 81px; height: 37px; }
.x-ptz-preset-clear-hover { background-image: url(./ptz/cloudbtns_03_06_hover.png); }
.x-ptz-preset-set { left: 181px; top: 152px; width: 81px; height: 37px; }
.x-ptz-preset-set-hover { background-image: url(./ptz/cloudbtns_03_07_hover.png); }
.x-ptz-preset-combo-trigger { height: 32px; width: 31px; background-image: url(./ptz/presetpanel.png); background-position: -226px -12px; cursor: pointer; }
.x-ptz-preset-combo-trigger-over { background-image: url(./ptz/cloudbtns_03_04_hover.png); background-position: 0px 0px; }
.x-preset-preset-input { border: 0px; background-color: transparent; background-image: none; color: #8dcee4; font-size: 20px; font-family: @ו; filter: Dropshadow(offx=1,offy=1,color=#3D383D); text-shadow: 0 1px 0 #3D383D; }
.x-ptz-showhide { width: 295px; height: 12px; background-image: url(./ptz/arrowup.png); }
.x-ptz-showhide-hover { background-image: url(./ptz/arrowup_hover.png); }
.x-ptz-showhide-checked { width: 295px; height: 12px; background-image: url(./ptz/arrowdown.png); }
.x-ptz-showhide-checkedhover { background-image: url(./ptz/arrowdown_hover.png); }
.x-real-toolbar-text { top: 62px; left: 0px; width: 90px; height: 20px; color: White; text-align: center; cursor: pointer; filter: Dropshadow(offx=1,offy=1,color=#3D383D); text-shadow: 0 1px 0 #3D383D; }
.x-real-toolbar-text-hover { color: rgb(100,182,228); }
.x-real-toolbar-sphf, .x-real-toolbar-clgk, .x-real-toolbar-gis, .x-real-toolbar-jqld, .x-real-toolbar-jqsb { top: 5px; width: 90px; height: 60px; }
.x-real-toolbar-clgk { background-image: url(./ptz/ctrlbtnsbr.png); background-position: 0px -6px; }
.x-real-toolbar-clgk-hover { background-image: url(./ptz/ctrlbtns_r2_c1_hover.gif); background-position: 0px 0px; }
.x-real-toolbar-sphf { top: 0px; background-image: url(./ptz/ctrlbtnsbr.png); background-position: 0px -93px; background-repeat: no-repeat; }
.x-real-toolbar-sphf-hover { background-image: url(./ptz/ctrlbtns_r4_c1_hover.gif); background-position: 0px 0px; }
.x-real-toolbar-gis { top: 0px; background-image: url(./ptz/ctrlbtnsbr.png); background-position: 0px -184px; background-repeat: no-repeat; }
.x-real-toolbar-gis-hover { background-image: url(./ptz/ctrlbtns_r6_c1_hover.gif); background-position: 0px 0px; }
.x-real-toolbar-jqsb { top: 0px; background-image: url(./ptz/ctrlbtnsbr.png); background-position: 0px -274px; background-repeat: no-repeat; }
.x-real-toolbar-jqsb-hover { background-image: url(./ptz/ctrlbtns_r8_c1_hover.gif); background-position: 0px 0px; }
.x-real-toolbar-jqld { top: 0px; background-image: url(./ptz/ctrlbtnsbr.png); background-position: 0px -366px; background-repeat: no-repeat; }
.x-real-toolbar-jqld-hover { background-image: url(./ptz/ctrlbtns_r10_c1_hover.gif); background-position: 0px -1px; }
